body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../public/bgai.jpeg");
  background-size: cover;        
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
