* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.glass {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: black;
    min-height: 97vh;
}
.left{
    border-right: 1px solid #ccc;
}
.searchbtn{
    margin: 10px 0px 10px 0px;
}

.searchuserprofile{
    min-height: 70%;
    max-height: 80%;
    overflow-y: auto;
}
.userprofile{
    width: auto;
}
.emptymessage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.userschatprofile{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}