* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.glass {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: black;
    margin: 10px;
    border: 2px solid green;
    min-height: 95vh;
}